body {
  height: 100vh;
  background: slategray;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  font-size: 24px;
}

label {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

small {
  color: white;
  font-size: 16px;
}

/* @media screen and (min-width: 600px) { */
/* .navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.navigation-mobile {
  width: 100vw;
  height: 100vh;
}

.navbar-nav {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 42px;
}

.navbar-nav a {
  text-decoration: none;
}

.navbar-nav ul {
  height: 100vh;
}

.nav-item {
  list-style: none;
}

.navbar__visible {
  display: flex;
  flex-direction: row;
  height: 30vh;
} */
/*NAVBAR ROW*/
.navbar {
  width: 100vw;
  height: 20vh;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
}

.nav-item {
  list-style: none;
}

/*LOGIN FORM*/
.login-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 5%;
  width: 100vw;
  height: 100vh;
  color: white;
}

.form-log {
  height: 100vh;
}

.login-box {
  width: 80%;
  height: 50px;
  border-radius: 20px;
}

.login-label label {
  font-size: 28px;
}

/*FORM CREATE*/
.form-create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5%;
}

/* PROFILE*/
.posts-article {
  margin: 10%;
}

.posts-form {
  overflow: hidden;
}

.pro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  justify-content: center;
  color: black;
  flex-direction: column;
}

.profile-info h1 {
  text-align: center;
}

.profile-info p {
  font-size: 20px;
  margin: 0;
}

.profile_pic {
  align-items: center;
  width: 50vw;
  height: 30vh;
  border-radius: 100px;
}

/* IMAGE CLASS POST*/
.post-image {
  width: 100vw;
  height: 70vh;
}

.post-description {
  font-size: 28px;
}

.post-img-des {
  display: flex;
  flex-direction: column;
}

.post-img-des p {
  text-align: center;
}

.fas,
.likes,
.dislikes {
  font-size: 28px;
}

.post-edit {
  transform: translateX(-250px);
}

.slide-edit {
  transform: translateX(50px);
  display: block;
  width: 200px;
  height: 200px;
  background-color: chartreuse;
  font-size: 28px;
}

.slide-edit textarea {
  font-size: 24px;
}

/* } */
/* Media queries for smaller window */
@media screen and (min-width: 600px) and (max-width: 1000px) {}