body {
  height: 100vh;
  background: linear-gradient(70deg, blue, pink);
  background-position: center;
  background-repeat: no-repeat;
}

/* @media screen and (min-width: 600px) { */
.navbar {}

.navigation-mobile {
  width: 100vw;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}

.navbar-nav a {
  text-decoration: none;
}

.nav-item {
  list-style: none;
}

/*LOGIN FORM*/
.login-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}

.form-log {
  height: 100vh;
}

.login-box {
  width: 80%;
  height: 50px;
  border-radius: 20px;
}

.login-label label {
  font-size: 28px;
}

/* PROFILE*/
.pro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  justify-content: center;
  color: aliceblue;
  flex-direction: column;
}

.profile-info h1 {
  text-align: center;
}

.profile-info p {
  font-size: 20px;
  margin: 0;
}

.profile_pic {
  align-items: center;
  width: 50vw;
  height: 30vh;
  border-radius: 100px;
}

/* IMAGE CLASS POST*/
.post-image {
  width: 100vw;
  height: 70vh;
}

.post-description {
  font-size: 28px;
}

.post-img-des {
  display: flex;
  flex-direction: column;
}

.post-img-des p {
  text-align: center;
}

.fas {
  font-size: 28px;
}

.post-edit {
  transform: translateX(-110px);
}

.slide-edit {
  transform: translateX(50px);
  display: block;
  width: 120px;
  height: 50px;
  background-color: chartreuse;
}

/* } */
/* Media queries for smaller window */
@media screen and (min-width: 600px) and (max-width: 1000px) {}